* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* custom font*/
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section-btn{
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #469165;
}
/* == Header section style */
.site-header {
    display: flex;
    align-items: center;
    max-width: 1360px;
    padding: 36px 0;
    margin: 0 auto;
    justify-content: space-between;
}
.header-nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
}
.header-nav a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    line-height: 152%;
    font-weight: 500;
}
.header-logo img {
    width: 139px;
    height: 60px;
}
.header-btn button:hover {
    width: 164px;
    height: 44px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: black;
}
.banner-container h1 {
    font-weight: 700;
    line-height: 84px;
    font-size: 72px;
    letter-spacing: 0%;
    font-style: Bold;
    text-align: center;
    width: 770px;
    height: 868px;
}
.text-green {
    color: rgba(48, 184, 104, 1);
}