* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
.hide {
    display: none;
}

/* custom font*/
.font-inter {
  font-family: "Inter", sans-serif;
}

/* Similar section */
.section-title {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 40px 0 16px;
}
.section-description {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
    width: 623px;
    margin-left: 20em;

}
.section-btn, .btn-primary {
    padding: 0.75em 1em;
    font-size: 1rem;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #469165;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}
.section-btn:hover {
    background: linear-gradient(45deg, #ff4d6d, #ffb347);
    color: white;
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* == Header section style */
#site-header {
    display: flex;
    align-items: center;
    max-width: 1360px;
    height: 92px;
    padding: 36px 0;
    margin: 0 auto;
    justify-content: space-between;
}
.header-nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
}
.header-nav a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    line-height: 152%;
    font-weight: 500;
}
.header-logo img {
    max-width: 139px;
    height: auto;
}

/* == Banner section */
.banner {
    background-image: url('./images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    align-items: center;
}
.banner-item {
    margin: 0 auto;
    max-width: 1360px;
    height: 379px;
    text-align: center;
    padding: 0 295px;
}
.banner-subheading {
    max-width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-item h1 {
    max-width: 770px;
    color: white;
    font-weight: 700;
    line-height: 84px;
    font-size: 72px;
    letter-spacing: 0%;
    font-style: Bold;
    text-align: center;
    margin-bottom: 16px 0;
}
.text-green {
    color: rgba(48, 184, 104, 1);
}
.banner-item p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 1.1rem;
    margin: 32px 0 16px;
}
.btn-transparent {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-buttons {
    max-width: 740px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section-btn img {
    width: 20px;
    height: 20px;
}
.btn-transparent img {
    width: 20px;
    height: 20px;
}
.banner-subheading img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* == Note section == */
#site-note {
    background-color: #6273820a;
    padding-top: 1px;
}
.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
}
.note-title {
    text-align: center;
}
.note-content {
    display: flex;
    align-items: center;
    width: 320px;
    height: 300px;
    padding: 24px;
    text-align: -webkit-center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}
.note-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

}
.note-img img {
    width: 32px;
    height: 32px;
    background-color: #F95555;
}
.note-item p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin: 16px 0;
    font-weight: 400;
}

/* == Brain section == */
.brain-container {
    max-width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}
.brain-left img {
    width: 600px;
    height: 600px;
}
.brain-right {
    width: 700px;
    height: 396px;
}
.brain-item span {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-weight: 600;
}
.brain-description {
    font-size: 16px;
    line-height: 25px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-info {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    color: #001931;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

/* == Early-access-section */
.early-access-section {
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
    padding: 58px 28px;
    background-color: #F7F6F2;
}
.early-access-content {
    width: 1280px;
    height: 120px;
    margin-bottom: 18px;
}
.early-access-item {
    max-width: 1280px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-note {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}

/* == Footer section == */
.footer-container {
    padding: 130px 0;
    margin-top: 130px;
    background-color: #001931;
    height: 348px;
}
.footer-info {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
    justify-content: space-between;
}
.footer-left img {
    width: 139px;
    height: 60px;
}
.Social-link h3 {
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
}
.Social-link img {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
.footer-bottom  p {
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 6em;
}

/* == Mobile screen */
@media screen and (max-width: 576px) {
    #site-header, .note-container, .brain-container {
        flex-direction: column;
    }
    .header-nav ul{
        gap: 30px;
        margin: 20px 0;
    }
      .banner{
        height: auto;
        padding: 60px 16px;
        margin-top: 9rem;
    }
    .early-access-section {
        min-height: 24rem;
        padding: 0;
    }
    .banner-item , .brain-left img, .footer-container, .brain-container {
        max-width: 100%;
        height: auto;
        padding: 0;
    }
    .brain-container {
        margin: 55px 0 145px;
    }
    .banner-item h1, .section-title, .brain-right h2 {
        font-size: 37px;
    }
     .btn-transparent, .btn-primary, .section-description, .brain-right, .early-access-content {
        width: 100%;
        margin-left: 0;
        padding: 10px;
     }
     .footer-bottom p {
        margin-top: 2rem;
     }
     .footer-container {
        padding: 35px 19px 35px;
        margin-top: 0;
     }

    .early-access-content {
        max-width: 100%;
        text-align: center;
  }

}

/* == tabtel screen == */
@media screen and (min-width: 577px) and (max-width: 922px) {

}


