* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* custom font*/
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section-btn {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #469165;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-btn:hover {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: black;
}

/* == Header section style */
.site-header {
    display: flex;
    align-items: center;
    max-width: 1360px;
    height: 92px;
    padding: 36px 0;
    margin: 0 auto;
    justify-content: space-between;
}
.header-nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
}
.header-nav a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    line-height: 152%;
    font-weight: 500;
}
.header-logo img {
    width: 139px;
    height: 60px;
}

/* == Banner section */
.banner-container {
    background-image: url('./images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    align-items: center;
}
.banner-item {
    margin: 0 auto;
    width: 1360px;
    height: 379px;
    text-align: center;
    padding: 0 295px;
}
.banner-sub-heading {
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-item h1 {
    width: 770px;
    height: 168px;
    color: white;
    font-weight: 700;
    line-height: 84px;
    font-size: 72px;
    letter-spacing: 0%;
    font-style: Bold;
    text-align: center;
    margin-bottom: 16px 0;
}
.text-green {
    color: rgba(48, 184, 104, 1);
}
.banner-item p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    margin: 32px 0 16px;
}
.btn-transparent {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-button {
    width: 740px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section-btn img {
    width: 20px;
    height: 20px;
}
.btn-transparent img {
    width: 20px;
    height: 20px;
}
.banner-sub-heading img {
    width: 16px;
    height: 16px;
    margin-right: 10px;

}