* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

/* custom font*/
.font-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section-btn {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #469165;
    display: flex;
    align-items: center;
    gap: 10px;
}
.section-btn:hover {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: black;
}

/* == Header section style */
.site-header {
    display: flex;
    align-items: center;
    max-width: 1360px;
    height: 92px;
    padding: 36px 0;
    margin: 0 auto;
    justify-content: space-between;
}
.header-nav ul {
    list-style: none;
    display: flex;
    gap: 34px;
}
.header-nav a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    line-height: 152%;
    font-weight: 500;
}
.header-logo img {
    width: 139px;
    height: 60px;
}

/* == Banner section */
.banner-container {
    background-image: url('./images/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    align-items: center;
}
.banner-item {
    margin: 0 auto;
    width: 1360px;
    height: 379px;
    text-align: center;
    padding: 0 295px;
}
.banner-sub-heading {
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 10000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-item h1 {
    width: 770px;
    height: 168px;
    color: white;
    font-weight: 700;
    line-height: 84px;
    font-size: 72px;
    letter-spacing: 0%;
    font-style: Bold;
    text-align: center;
    margin-bottom: 16px 0;
}
.text-green {
    color: rgba(48, 184, 104, 1);
}
.banner-item p {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    margin: 32px 0 16px;
}
.btn-transparent {
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
}
.banner-button {
    width: 740px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.section-btn img {
    width: 20px;
    height: 20px;
}
.btn-transparent img {
    width: 20px;
    height: 20px;
}
.banner-sub-heading img {
    width: 16px;
    height: 16px;
    margin-right: 10px;

}
/* == Note section == */
.site-note {
    background-color: #627382;
}
.note-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 44px;
}
.note-title {
    text-align: center;
}
.section-title {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin: 30px 0 16px;
}
.section-description {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.note-content {
    display: flex;
    align-items: center;
    width: 320px;
    height: 300px;
    padding: 24px;
    background-color: antiquewhite;
    text-align: -webkit-center;
    border-radius: 8px;
}
.note-img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

}
.note-img img {
    width: 32px;
    height: 32px;
    background-color: #F95555;
}
.note-item p {
    font-size: 24px;
    color: #001931;
    font-weight: 700;
    margin: 16px 0;
}
.note-item p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

/* == Brain section == */
.brain-container {
    max-width: 1360px;
    height: 600px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}
.brain-left img {
    width: 600px;
    height: 600px;
}
.brain-right {
    width: 700px;
    height: 396px;
}
.brain-item span {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    font-weight: 600;
}
.brain-right h2 {
    font-size: 48px;
    font-weight: 900;
    color: #001931;
    margin: 16px 0;
}
.brain-description {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-info {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 16px;
    color: #001931;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
/* == Early-access-section */
.early-access-section {
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    background-color: #F7F6F2;
}
.early-access-title {
    width: 1280px;
    height: 120px;
    margin-bottom: 18px;
}
.early-access-item {
    max-width: 1280px;
    height: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-note {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
/* == Footer section == */
.footer-container {
    background-color: #001931;
    height: 348px;
}
.footer-info {
    max-width: 1360px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

